@{
    Layout = "Home_Layout";
}
@using CI_Platform.Models.ViewModels

@model CI_Platform.Models.ViewModels.MissionListingViewModel
<div class="alert alert-success" style="display:none;" id="success-alert">
   <strong>Success!</strong>
   Email Sent Successfully
</div>
@{
    var currCard = @Model!.MissionCards!.FirstOrDefault();
    var totalMediaCount = currCard!.MissionMediaPaths!.Count + currCard.MissionVideos!.Count;
    var totalScreens = (totalMediaCount/4) + 1;
    if(totalMediaCount % 4 == 0)
    {
        totalScreens -= 1;
    }
    string GetVideoUrl(string path)
    {
        string src = "";
        src += "https://www.youtube.com/embed/";
        src += path.Substring(path.IndexOf("=") + 1);
        src += "?autoplay=1&mute=1";
        return src;
    }
    string GetThumbnail(string path)
    {
        string src = "";
        src += "https://img.youtube.com/vi/";
        src += path.Substring(path.IndexOf("=") + 1);
        src += "/0.jpg";
        return src;

    }
}
@foreach(var item in Model.MissionCards!)
{
<p id="getMissionId" style="display:none;">@item.MissionId</p>
<p id="getUserName" style="display:none;">@Context.Session.GetString("UserName")</p>
<p id="getUserAvatar" style="display:none;">@Context.Session.GetString("UserAvatar")</p>

<div class="container-fluid">
    <div class="row mx-lg-5 mx-3 volunteerMissionMain">
        @* Image Slider *@
        <div class="col-lg-6 ">
            <div class="container mt-4 h-100">
                <div class="carousel-container position-relative row ">

                    <!-- Sorry! Lightbox doesn't work - yet. -->

                    <div id="myCarousel" class="carousel px-0 slide" data-ride="carousel">
                        <div class="carousel-inner" id= "carouselInnerDiv">
                                @if (@totalMediaCount != 0)
                                {
                                    var x = 0;
                                    @for (x=0;x<@item.MissionMediaPaths.Count;x++)
                                    {
                                        @if (x == 0)
                                        {
                                            <div class="carousel-item carousel-img-div active" data-slide-number="@x" style="max-height:625px ;">
                                                <img src="@item.MissionMediaPaths[x]" class="d-block scroll-img w-100" alt="..." data-remote="https://source.unsplash.com/Pn6iimgM-wo/" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
                                            </div>
                                        }else{
                                            <div class="carousel-item carousel-img-div" data-slide-number="@x" style="max-height:625px ;">
                                                <img src="@item.MissionMediaPaths[x]" class="d-block scroll-img w-100" alt="..." data-remote="https://source.unsplash.com/Pn6iimgM-wo/" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
                                            </div>
                                        }
                                    }
                                    @for (x = @currCard.MissionMediaPaths.Count; x < totalMediaCount; x++)
                                    {
                                        
                                        @if (x == 0)
                                        {
                                            <div class="carousel-item carousel-img-div active" data-slide-number="@x" style="max-height:625px ">

                                                <img src="@GetVideoUrl(@currCard.MissionVideos[0])" class="d-block scroll-img w-100" alt="..." data-remote="https://source.unsplash.com/Pn6iimgM-wo/" data-type="video" data-toggle="lightbox" data-gallery="example-gallery">
                                            </div>
                                        }
                                        else{
                                            <div class="carousel-item carousel-img-div" data-slide-number="@x" style="max-height:625px ;">
                                                <iframe class="d-block scroll-img w-100" src="@GetVideoUrl(@currCard.MissionVideos[0])" allowfullscreen></iframe>
                                            </div>
                                        }
                                    }
                                }


                            </div>

                        </div>

                        <!-- Carousel Navigation -->
                    <div id="carousel-thumbs" class="carousel slide">
                            <div class="carousel-inner h-100 w-100" id="carouselInnerDiv">
                                
                                @if(@totalMediaCount != 0)
                                {
                                    var x = 0;
                                    @for (var j = 0; j < (totalScreens); j++)
                                        {
                                        
                                            var count = @totalMediaCount;
                                            x = j*4;
                                            if(x == 0){
                                                <div class="carousel-item h-100 active">
                                                    <div class="row mx-0 h-100">
                                                        @for (var i = 0; i < 4; i++)
                                                        {
                                                            @if(count <= x)
                                                            {
                                                                break;
                                                            }
                                                            @if(x == 0)
                                                            {
                                                                <div id="carousel-selector-@x" class="thumb col-3 h-100 px-1 pt-1 selected" data-target="#myCarousel" data-slide-to="@x">
                                                                    <img  src="@item.MissionMediaPaths[x]" class="img-fluid w-100" alt="...">
                                                                </div>

                                                            }else if(x < @currCard.MissionMediaPaths.Count){
                                                                <div id="carousel-selector-@x" class="thumb col-3 h-100 px-1 pt-1" data-target="#myCarousel" data-slide-to="@x">
                                                                    <img src="@item.MissionMediaPaths[x]" class="img-fluid w-100" alt="...">
                                                                </div>
                                                            }else{
                                                                <div id="carousel-selector-@x" class="thumb col-3 h-100 px-1 pt-1" data-target="#myCarousel" data-slide-to="@x">
                                                                    <img class="img-fluid w-100 h-100" src="@GetThumbnail(@currCard.MissionVideos[@x - @currCard.MissionMediaPaths.Count])"></img>
                                                                </div>
                                                            }                                                      
                                                            x++;
                                                        }
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="carousel-item h-100">
                                                    <div class="row mx-0 h-100">
                                                        @for (var i = 0; i < 4; i++)
                                                        {
                                                            @if(count <= x)
                                                            {
                                                                break;
                                                            }
                                                            if(x < @currCard.MissionMediaPaths.Count)
                                                            {
                                                                <div id="carousel-selector-@x" class="thumb col-3 h-100 px-1 pt-1" data-target="#myCarousel" data-slide-to="@x">
                                                                    <img src="@item.MissionMediaPaths[x]" class="img-fluid w-100" alt="...">
                                                                </div>

                                                            }else
                                                            {
                                                                <div id="carousel-selector-@x" class="thumb col-3 h-100 px-1 pt-1" data-target="#myCarousel" data-slide-to="@x">
                                                                    <img class="img-fluid w-100 h-100" src="@GetThumbnail(@currCard.MissionVideos[@x - @currCard.MissionMediaPaths.Count])"></img>
                                                                </div>
                                                            }

                                                            x++;

                                                        }
                                                    </div>
                                                </div>

                                            }

                                        }
                                }
                                

                        </div>
                        <a class="carousel-control-prev bg-black" href="#carousel-thumbs" role="button" data-slide="prev" style="width:25px;">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a>
                        <a class="carousel-control-next bg-black" href="#carousel-thumbs" role="button" data-slide="next" style="width:25px;">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a>
                    </div>

                </div> <!-- /row -->
            </div> <!-- /container -->
        </div>

        @* Details *@
        <div class="col-lg-6 mt-4">
            <h3 class="card-title px-3">@item.Title</h3>
            <p class="card-text px-3">@item.ShortDescription</p>
            <div class="card-timing mt-5 px-3 ">
                <div class=" d-flex justify-content-center">
                    @if(item.MissionType == "Time")
                    {
                        @if (@item.IsOngoingActivity == true)
                        {
                            <p class="enrol-time px-3 pt-1">Ongoing Activity</p>

                        }
                        else if (@item.StartDate != null && @item.EndDate != null)
                        {

                                <p class="enrol-time px-3 pt-1">From @item.StartDate.ToString()!.Substring(0,10) until @item.EndDate.ToString().Substring(0,10)</p>

                        }
                        else if (@item.StartDate != null && @item.EndDate == null)
                        {
                            <p class="enrol-time px-3 pt-1">From @item.StartDate.ToString()!.Substring(0,10)</p>

                        }
                        else if (@item.StartDate == null && @item.EndDate != null)
                        {
                            <p class="enrol-time px-3 pt-1">Until @item.EndDate.ToString()!.Substring(0,10)</p>

                        }
                    }
                    else
                    {
                        @if(item.GoalObjectiveText != null)
                        {
                            <p class="enrol-time px-3 pt-1">@item.GoalObjectiveText</p>
                        }
                    }
                    @*<p class="enrol-time px-3 pt-1">Plant 10,000 Trees</p>*@
                </div>
                <div class="d-flex justify-content-around">
                    @if(@item.IsSeatDataFound ==true){
                        @if(item.IsLimitedSeats == 1)
                        {
                            <div class="d-flex align-items-center justify-content-center">
                                <img class="timing-img" src="~/images/Seats-left.png" alt="" />
                                <div>
                                    <p class="mb-0 card-timing-big"><strong>@item.SeatsLeft</strong></p>
                                    <p class="card-text">Seats Left</p>
                                </div>
                            </div>
                        }else if(item.IsLimitedSeats == 0)
                        {
                            <div class="d-flex align-items-center justify-content-center">
                                <img class="timing-img" src="~/images/Already-volunteered.png" alt="" />
                                <div>
                                    <p class="mb-0 card-timing-big"><strong>@item.SeatsFilled</strong></p>
                                    <p class="card-text">Already Volunteered</p>
                                </div>
                            </div>
                        }
                    }
                                        
                                    
                                    
                    @if(item.MissionType == "Go")
                    {
                        @if(item.GoalObjectiveText != null)
                        {
                                @if(@item.GoalArchived > @item.GoalValue)
                                {
                                    <div class="d-flex align-items-center justify-content-center">
                                        <img class="timing-img" src="~/images/achieved.png" alt="" />
                                        <div>
                                            <div class="progress" style="height: 10px;">
                                                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="card-text">@item.GoalArchived achived</p>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <div class="d-flex align-items-center justify-content-center">
                                        <img class="timing-img" src="~/images/achieved.png" alt="" />
                                        <div>
                                            <div class="progress" style="height: 10px;">
                                                <div class="progress-bar" role="progressbar" style="width: @item.prArchivement%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="card-text">@item.GoalArchived achived</p>
                                        </div>
                                    </div>

                                }
                            
                        }
                                            
                    }
                    else
                    {
                        @if (@item.RegistrationDeadline is not null)
                        {
                            <div class="d-flex align-items-center justify-content-center">
                                <img class="timing-img" src="~/images/deadline.png" alt="" />
                                <div>

                                    <strong><p class="mb-0 card-timing-big">(@item.RegistrationDeadline.ToString()!.Substring(0,10)</p></strong>
                                    <p class="card-text">Deadline</p>


                                </div>
                            </div>
                        }else{
                            <div class="d-flex align-items-center justify-content-center">
                                <img class="timing-img" src="~/images/deadline.png" alt="" />
                                <div>

                                    <strong><p class="mb-0 card-timing-big">No Deadlines</p></strong>
                                    <p class="card-text">Deadline</p>


                                </div>
                            </div>
                        }
                    }
                    
                </div>
            </div>
            <div class="row pb-4 px-2" style="border-bottom: 1px solid #E8E8E8;">
                <div class="col-sm-6 pt-3">
                        @if(@item.IsFavourite == true)
                        {
                            <button class="rec-btns favMission" id="AddToFavBtn" onclick="addtofav(@item.MissionId)">
                                <img src="~/images/heart1.png" class="me-2" /><span>Remove from favourite</span>
                            </button>
                        }else{
                            <button class="rec-btns" id="AddToFavBtn" onclick="addtofav(@item.MissionId)">
                                <img src="~/images/heart1.png" class="me-2" /><span>Add to favourite</span>
                            </button>
                        }
                    
                </div>
                <div class="col-sm-6 pt-3">
                    <button class="rec-btns d-flex justify-content-center align-items-center" data-toggle="modal" data-target="#exampleModal">
                        <span class="ps-2">Recommend to a Co-Worker</span>
                    </button>
                </div>
              
               @* ----------------- Recommand to Coworker Model --------------- *@
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Send Invitation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3  user-invite-table">
                                    <table class="table table-bordered text-center user-invite-table table-striped" >
                                        <thead>
                                            <tr>
                                            <th scope="col">Email</th>
                                            <th scope="col">Send Invite</th>  
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach(var user in Model.Users!){
                                                if(@Convert.ToInt64(@Context.Session.GetString("UserId")) != user.UserId)
                                                {
                                                    <tr class="">
                                                    <th>@user.FirstName @user.LastName</th>
                                                    <th>
                                                        <div class="py-1">                               
                                                            <button  class="Apply-mission-btn px-3" data-dismiss="modal" onclick="sendInvitation(@item.MissionId,@Convert.ToInt64(@user.UserId))" value="@user.UserId">Send<img src="~/images/right-arrow.png" /></button>
                                                        </div>
                                                    </th>
                                                </tr> 
                                                }
                                                    
                                            }
                                        </tbody>
                                    </table>
                            
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <div class="card-rating rating-bar" id="submitRating">
                    @for (var i = 0; i < @item.CurrMissionRatings; i++)
                    {
                        <img src="~/images/selected-star.png" />

                    }
                    @for (var i = 5; i > @item.CurrMissionRatings; i--)
                    {
                        <img src="~/images/star-empty.png" />
                    }
                </div>
            </div>

            <div class="row ps-2 justify-content-center">
                <div class="col-5 col-sm  col-lg border pt-1 me-2 mt-2">
                    <img src="~/images/pin1.png ">
                    <p class="text-muted mb-0 mt-3">City</p>
                    <p class="mb-1">@item.City</p>
                </div>
                <div class="col-5 col-sm  col-lg border pt-1 me-2 mt-2">
                    <img src="~/images/web.png">
                    <p class="text-muted mb-0 mt-3">Theme </p>
                    <p class="mb-1">@item.Theme</p>
                </div>
                <div class="col-5 col-sm col-lg border pt-1 me-2 mt-2">
                    <img src="~/images/calender.png">
                    <p class="text-muted mb-0 mt-3">Date</p>   
                        @if (@item.IsOngoingActivity == true)
                        {
                            <p class="mb-1">Ongoing Opportunity</p>

                        }
                        else if (@item.StartDate != null && @item.EndDate != null)
                        {

                                <p class="mb-1">From @item.StartDate.ToString().Substring(0,10) until @item.EndDate.ToString().Substring(0,10)</p>

                        }
                        else if (@item.StartDate != null && @item.EndDate == null)
                        {
                            <p class="mb-1">From @item.StartDate.ToString().Substring(0,10)</p>

                        }
                        else if (@item.StartDate == null && @item.EndDate != null)
                        {
                            <p class="mb-1">Until @item.EndDate.ToString().Substring(0,10)</p>
                            
                        }else{
                            <p class="mb-1">Ongoing Opportunity</p>

                        }

                </div>
                <div class=" col-5 col-sm col-lg border pt-1 me-2 mt-2">
                    <img src="~/images/organization.png">
                    <p class="text-muted mb-0 mt-3">Organization</p>
                    <p class="mb-1">@item.OrganizationName</p>
                </div>
            </div>
                @if(@item.ApprovalStatus == "NotApplied")
                {
                    @if(@item.RegistrationDeadline != null && @item.RegistrationDeadline < DateTime.Now){
                        <div class="my-3 alert alert-danger" style="" id="success-alert">
                       
                        Deadline is already Passed.
                        </div>
                    }
                    else if(@item.GoalObjectiveText!= null && @item.GoalArchived >= @item.GoalValue)
                    {
                        <div class="my-3 alert alert-danger" style="" id="success-alert">
                       
                        Goal of this Mission is Already Archived !!!!!
                        </div>
                    }
                    else
                    {
                        <div class="my-3 d-flex justify-content-center">
                            <button type="button" class="Apply-mission-btn" id ="applyMissionBtn" onclick="ApplyMission()"><span class="me-2">Apply Now</span> <img src="~/images/right-arrow.png" /></button>
                        </div>
                    }
                    

                }else if(@item.ApprovalStatus == "PENDING"){
                    
                    <div class="my-3 d-flex justify-content-center">
                        <button type="button" class="Apply-mission-btn bg-danger text-white"><span class="me-2">@item.ApprovalStatus APPROVAL</span> <img src="~/images/right-arrow.png" /></button>
                    </div>
                }else if(@item.ApprovalStatus == "APPROVE")
                {
                    <div class="my-3 alert alert-success" style="" id="success-alert">
                       
                       You have already applied in this Mission
                    </div>
                }
                
        </div>
    </div>
</div>

<div class="row mt-md-5  pb-5 mx-lg-5 mx-3 volunteerMissionMain">
    @*mission,Organization, Comments*@
    <div class="col-md-7 col-lg-8">

        <ul class="nav nav-tabs pt-3" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-1" type="button"
                        role="tab" aria-controls="home" aria-selected="true">
                    Mission
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2" type="button"
                        role="tab" aria-controls="profile" aria-selected="false">
                    Organization
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3" type="button"
                        role="tab" aria-controls="contact" aria-selected="false">
                    Comments
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            @*Mission*@
            <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
                <h3>Introduction</h3>
                <p class="">
                    @item.OrganizationDetail
                    @Html.Raw(@item.Description) 
                </p>
                
                @if(@item.MissionDocumentss !=null)
                {
                    <h3>Documents</h3>
                    <div>
                    @foreach(var doc in @item.MissionDocumentss)
                    {
                        <a class="btn btn-outline-secondary px-3 mb-2 fav-button border" style="border-radius:23px;" href="@doc.DocumentPath" target="_blank">
                            <img src="~/images/doc.png">
                            @doc.DocumentName
                        </a>
                    }
                    </div>
                }
                

            </div>
            @* Organization Section *@
            <div class="tab-pane fade" id="tab-2" role="tabpanel">
                @item.OrganizationDetail
            </div>
            @*Comment Section*@
            <div class="tab-pane fade" id="tab-3" role="tabpanel">
                <div class="form-group">
                    <label for="commentInp">Share Comments</label>
                    <textarea class="form-control" id="commentInp" rows="3" placeholder="Enter Your Comments..."></textarea>
                </div>
                <p id="commenterr" class="d-none text-danger">Please Enter Some Text</p>
                <div class="my-3 ">
                    <button type="button" id="postComments" onclick="postComment()" class="Apply-mission-btn"><span>Post Comment</span></button>
                </div>
                <div id="commentList" class="bg-light p-3">

                        @foreach(var comment in Model.Comments)
                        {
                            <div class="comment bg-white p-2 align-items-center border mb-3">
                                <img src="@Model.Users.FirstOrDefault(u=>u.UserId == comment.UserId)!.Avatar" />
                                <div class="ms-3 text-wrap">
                                    <h5>@Model.Users.FirstOrDefault(u=>u.UserId == comment.UserId)!.FirstName @Model.Users.FirstOrDefault(u=>u.UserId == comment.UserId)!.LastName</h5>
                                    <p>@comment.CreatedAt (India Standard Time)</p>
                                    <p>@comment.CommentText</p>
                                </div>
                          </div>
                        }
                   
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-5 col-lg-4 mt-3 mt-md-0 ps-3">
        @*Information*@
        <div class="px-4 border mission-information">
            <div class="border-bottom">
                <div class=" py-3" style="border-bottom:2px solid black;width:fit-content;">
                    <h4>Information</h4>
                </div>
            </div>

            <table class="table info-table text-muted">
                <tr>
                    <td>Skills</td>
                        <td>
                            @if (@item.MissionSkills != null)
                            {
                                var x = "";
                                @foreach (var skill in @item.MissionSkills)
                                {
                                    x += @skill;
                                    x += ", ";
                                }
                                @x.Substring(0,@x.Length-2)
                            }
                        </td>
                </tr>
                <tr>
                    <td>Days</td>
                    <td>
                            @if(@item.Availability != null)
                            {
                                @item.Availability
                            }
                        </td>
                </tr>
                <tr>
                    <td style="border-bottom:none;">Rating</td>
                    <td style="border-bottom:none;">
                        <div class="card-rating d-flex">
                            
                            <div class="card-rating col">
                                @for (var i = 0; i < @item.Ratings; i++)
                                {
                                    <img src="~/images/selected-star.png" />

                                }
                                @for (var i = 5; i > @item.Ratings; i--)
                                {
                                    <img src="~/images/star-empty.png" />
                                }

                                <span>(By @item.ratingCount Volunteer)</span>
                            </div>
                               
                        </div>

                    </td>
                </tr>
            </table>
        </div>
        @*Recent Volunteer *@
        @if(@item.RecentVolunteers != null)
        {
            <p class="d-none" id="getRecentVolunteerCount">@item.RecentVolunteers.Count</p>
            
            <div class="border py-2 mt-4 pb-0">
                <div class="border-bottom mx-4">
                    <div class=" py-3" style="border-bottom:2px solid black;width:fit-content;">
                        <h4>Recent Volunteer</h4>
                    </div>
                </div>

                <div id="recentVolunteersSlider" class="carousel slide" style="height:min-content" >
                    <div class="carousel-inner">
                        @for(var j = 0; j < (@item.RecentVolunteers.Count / 9)+1; j++)
                        {
                            var count = @item.RecentVolunteers.Count;
                            var x = j*9;
                            if (x == 0)
                            {
                                <div class="carousel-item active">
                                    <div class="row text-muted mx-3 pt-3">
                                        @for (var i = 0; i < 9; i++)
                                        {
                                            @if(count <= x)
                                            {
                                                break;
                                            }
                                            <div class="col-lg-4 text-center col-md-6 col-4 pb-3">
                                                <img class="volunteer-profile-img" src="@item.RecentVolunteers[@x][0]" alt="volunteer1" />
                                                <p>@item.RecentVolunteers[@x][1] @item.RecentVolunteers[@x][2]</p>
                                            </div>                                                     
                                            x++;
                                        }
                                    </div>
                                </div>

                            }else
                            {
                                <div class="carousel-item">
                                    <div class="row text-muted mx-3 pt-3">
                                        @for (var i = 0; i < 9; i++)
                                        {
                                            @if(count <= x)
                                            {
                                                <div class="col-lg-4 text-center col-md-6 col-4 pb-3">
                                                </div> 
                                            }
                                            else
                                            {
                                                <div class="col-lg-4 text-center col-md-6 col-4 pb-3">
                                                    <img class="volunteer-profile-img" src="@item.RecentVolunteers[@x][0]" alt="volunteer1" />
                                                    <p>@item.RecentVolunteers[@x][1] @item.RecentVolunteers[@x][2]</p>
                                                </div>  
                                            }                                                   
                                            x++;
                                        }
 
                                    </div>
                                </div>
                            }
                        }
                            
                    </div>
                </div>
                <div class="border-top">
                    <div class="d-flex align-items-center text-wrap text-center mx-0 py-0">
                        
                            <a class="changesVolSlide" data-bs-target="#recentVolunteersSlider" role="button" data-bs-slide="prev" style="width:10%" >
                                <div class="border-end p-0" >
                                    <img src="~/images/left.png" />
                                </div>
                            </a>
                            <div class=" d-flex align-items-center justify-content-center" style="width:80%">

                                @if (@item.RecentVolunteers.Count <=9)
                                {
                                    <p class="mb-0"> 1 - @item.RecentVolunteers.Count of @item.RecentVolunteers.Count Recent Volunteers </p>
                                }else
                                {
                                    <p class="mb-0" id="currVolCount"> 1 - 9 of @item.RecentVolunteers.Count Recent Volunteers </p>
                                    
                                }
                            </div>

                        
                            <a class="changesVolSlide" data-bs-target="#recentVolunteersSlider" role="button" data-bs-slide="next" style="width:10%;">
                                <div class="border-start p-0" >
                                <img src="~/images/right-arrow1.png " />
                                </div>
                            </a>
                        
                    </div>
                </div>


            </div>
       
        }

    </div>

</div>
}
<hr />
<div class="pt-5 mx-5 mb-5" id="relatedMissions">

</div>
<script>

    $(".changesVolSlide").click(function(){
            recentVolunteerCount();
           
        });
    function recentVolunteerCount(){
        var totalCount = $("#getRecentVolunteerCount").text();
        if(totalCount >9){
            if($("#recentVolunteersSlider div .active").next().find("div div img").length !=0){
            
                var CurrentpageNo = $("#recentVolunteersSlider div .active").index() + 1;
                var ChildOfTarget = $("#recentVolunteersSlider div .active").next().find("div div img").length;
                var strr = "";
                strr += ((CurrentpageNo * 9) +1) + " - ";
                strr += ((CurrentpageNo * 9) + ChildOfTarget) + " of " + totalCount + " Recent Volunteers";
          
                document.getElementById("currVolCount").innerHTML = strr;
            }else{
                var strr = "1 - 9 of " + totalCount + " Recent Volunteers";
                document.getElementById("currVolCount").innerHTML = strr;
            }
        }
        
    }
    function ApplyMission(){
        var missionId = $('#getMissionId').text();
       
        
        $.ajax({
            url: '/Home/ApplyMission',
            type: 'POST',
            data: {MissionId: missionId},
            
            success:function () {
                
            }
        });
    }
    
    function sendInvitation(missionId,userId) {
        
        $.ajax({
            url: '/Home/SendInvitation',
            type: 'POST',
            data: {EmailTo: userId,
            MissionId: missionId},
            success:function () {
                $("#success-alert").alert().show();
            window.setTimeout(function () { 
                $("#success-alert").alert().hide(); 
            }, 1000);   
            }
        });
        
        
        
    }
    function postComment() {
        var text = document.getElementById("commentInp").value;
        if(text == ""){
            $('#commenterr').removeClass("d-none");
        }else{
            var missionId = $('#getMissionId').text();
        
            $.ajax({
                url: '/Home/PostComment',
                type: 'POST',
                data: {MissionId: missionId,
                CommentText: text},
                success:function (viewModel) {
                    document.getElementById("commentInp").value = "";
                }
            });
            console.log("sdes");
            const child = document.getElementById("commentList").childElementCount;

            var text = document.getElementById("commentInp");
            console.log(text.value);
            var commentList = document.getElementById("commentList");

            var mainDiv = document.createElement("div");
            mainDiv.classList.add("d-flex", "comment", "bg-white", "p-2", "align-items-center", "border", "mb-3");

            var img = document.createElement("img");
            img.src = $("#getUserAvatar").text();
            mainDiv.appendChild(img);

            var commentTexts = document.createElement("div");
            commentTexts.classList.add("ms-3");

            var name = document.createElement("h5");
            name.innerHTML = $("#getUserName").text();
            commentTexts.appendChild(name);

            var time = document.createElement("p");
            time.innerHTML = new Date();
            commentTexts.appendChild(time);

            var cmtext = document.createElement("p");
            cmtext.innerHTML = text.value;
            commentTexts.appendChild(cmtext);

            mainDiv.appendChild(commentTexts);
            if (child != 0) {
                var firstchild = document.getElementById("commentList").firstChild;
                commentList.insertBefore(mainDiv, firstchild);
            } else {
                commentList.appendChild(mainDiv);
            }
        }
        

    }
    function addtofav(missionid) {
        $.ajax({
            url: '/Home/AddToFavourite',
            type: 'POST',
            data: {MissionId: missionid},
            dataType: 'json',
            success:function (viewModel) {
                console.log(viewModel);
                
                
            }
        });

    }
    $(document).ready(function(){
        var missionId = $('#getMissionId').text();
        
       $.ajax({
            url: '/Home/RelatedMissions',
            type: 'POST',
            data: {MissionId:missionId},
            dataType: 'html',
            success:function (viewModel) {
                console.log("All");
                $('#relatedMissions').html(viewModel);
            }
        });
        

        $('#applyMissionBtn').click(function(){
            $(this).find('span').remove();
            var sp = document.createElement('span');
            $(this).addClass('bg-danger');
            sp.innerHTML = "PENDING APPROVAL";
            $(this).prepend(sp);
            $(this).off('click');
            $(this).removeAttr('onclick');
            
        });
        $('#submitRating img').mouseover(function(){

            var i = $(this).index()+1;
            $('#submitRating').children('img').each(function(){
                if(i-->0){
                    this.setAttribute("src","/images/selected-star.png");
                }
            });
        });
        $('#submitRating img').mouseleave(function(){
            
            $('#submitRating').children('img').each(function(){
                this.setAttribute("src","/images/star-empty.png");
            });
        });
        $('#submitRating img').click(function(){
            var i = $(this).index()+1;
            
            
            var missionId = $('#getMissionId').text();
            console.log(i);
            console.log(missionId);
             $.ajax({
            url: '/Home/RateMission',
            type: 'POST',
            data: {Rating: i,
            MissionId: missionId},
            success:function () {
                console.log('executed');
                $('#submitRating img').off("mouseover");
                $('#submitRating img').off("mouseleave");
                $('#submitRating img').off("click");;
                $('#submitRating').children('img').each(function(){
                if(i-->0){
                    this.setAttribute("src","/images/selected-star.png");

                    }
                });
                }
            });
            
        });
        $('#AddToFavBtn').click(function(){
            if($(this).hasClass('favMission')){
                $(this).removeClass("favMission");
                $(this).children('span').remove();
                btn = $(this);
                var newSpan = document.createElement('span');
                newSpan.innerHTML="Add to Favourites";
                btn.append(newSpan);
                console.log(span);
                console.log("favourite");
                
            }else{
                $(this).addClass("favMission");
                $(this).children('span').remove();
                btn = $(this);
                var newSpan = document.createElement('span');
                newSpan.innerHTML="remove from favourites";
                btn.append(newSpan);
            }
            
        });
        
    });
</script>