@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using CI_Platform.Models.ViewModels
@*@model CI_Platform.Models.ViewModels.MissionListingViewModel;*@
@model CI_Platform.Models.ViewModels.MissionListingViewModel
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>

<p style="display:none" name="@Model.MissionCards.Count()" id="missionCo">@Model.MissionCards.Count()</p>
<div class="container-fluid grid-container" id="missionContainer">
    <div class="row" id="cardContainer">
@foreach (var item in Model.MissionCards)
        {
            
            <div class="col-12 col-md-6 col-lg-4" id="passMissionCard">
                <div class="card" id="card">
                    
                    <p style="display:none;" id="PassMissionTheme" name="@item.Theme">@item.Theme</p>
                    <div id="passMissionSkills" style="display:none;">
                        
                        @if(@item.MissionSkills != null){
                        @foreach (var skill in item.MissionSkills)
                        {
                            <p id="@skill">@skill</p>
                        }
                        }
                        
                    </div>
                    @*@item.IsFavourite*@
                    <p id="passCity" style="display:none;">@item.City</p>
                    <p id="passCountry" style="display:none;">@item.Country</p>
                    <div class="card-img-div">
                        <img class="card-img-top" src="@item.Path" alt="Card image cap">
                        <div class="location over-buttons px-3 py-1">
                            <img src="~/images/pin.png" />
                            <span>@item.City</span>
                        </div>
                        
                        <button class="add-favourite over-buttons" id="addToFavourite" onclick="addtofav(@item.MissionId)">
                            @if(@item.IsFavourite == true)
                            {
                                <i class="bi bi-heart-fill favourite text-danger opacity-100" id="heartDef"></i>
                                

                            }else{
                                
                                <i class="bi bi-heart favourite text-white" id="heartDef"></i>
                            }
                             
                            @*<img src="~/images/heart.png"/>*@
                        </button>
                        <div class="square over-buttons">
                            <img src="~/images/user.png" />
                        </div>

                        <div class="d-flex justify-content-center align-items-center">
                            <p class="card-theme px-3 pt-1">@item.Theme</p>
                        </div>
                    </div>

                    <div class="card-body mt-4">
                        <h5 class="card-title px-3">@item.Title</h5>
                        <p class="card-text px-3">@item.ShortDescription</p>
                        @if (@item.Ratings is not null)
                        {
                            <div class="card-rat-section px-3 d-flex justify-content-between">
                                <p>@item.OrganizationName</p>
                                @if(@item.Ratings != 0)
                                {
                                    <div class="card-rating">
                                        @for (var i = 0; i < @item.Ratings; i++)
                                        {
                                            <img src="~/images/selected-star.png" />

                                        }
                                        @for (var i = 5; i > @item.Ratings; i--)
                                        {
                                            <img src="~/images/star-empty.png" />
                                        }


                                    </div>
                                }
                                
                            </div>
                        }

                        <div class="card-footer px-0">
                            @if(item.GoalObjectiveText !=null || item.StartDate!=null || item.EndDate != null || item.IsSeatDataFound == true)
                            {
                                
                            

                            <div class="card-timing mt-4 px-3 ">
                                <div class=" d-flex justify-content-center">
                                    @if(item.MissionType == "Time")
                                    {
                                        @if (@item.IsOngoingActivity == true)
                                        {
                                            <p class="enrol-time px-3 pt-1">Ongoing Activity</p>

                                        }
                                        else if (@item.StartDate != null && @item.EndDate != null)
                                        {

                                                <p class="enrol-time px-3 pt-1">From @item.StartDate.ToString().Substring(0,10) until @item.EndDate.ToString().Substring(0,10)</p>

                                        }
                                        else if (@item.StartDate != null && @item.EndDate == null)
                                        {
                                            <p class="enrol-time px-3 pt-1">From @item.StartDate.ToString().Substring(0,10)</p>

                                        }
                                        else if (@item.StartDate == null && @item.EndDate != null)
                                        {
                                            <p class="enrol-time px-3 pt-1">Until @item.EndDate.ToString().Substring(0,10)</p>

                                        }
                                    }
                                    else
                                    {
                                        @if(item.GoalObjectiveText != null)
                                        {
                                            <p class="enrol-time px-3 pt-1">@item.GoalObjectiveText</p>
                                        }
                                    }
                                    

                                </div>
                                <div class="d-flex justify-content-between">
                                    
                                    @if(@item.IsSeatDataFound ==true){
                                        @if(item.IsLimitedSeats == 1)
                                        {
                                            <div class="d-flex align-items-center justify-content-center">
                                                <img class="timing-img" src="~/images/Seats-left.png" alt="" />
                                                <div>
                                                    <strong><p class="mb-0 card-timing-big">@item.SeatsLeft</p></strong>
                                                    <p class="card-text">Seats Left</p>
                                                </div>
                                            </div>
                                        }else if(item.IsLimitedSeats == 0)
                                        {
                                            <div class="d-flex align-items-center justify-content-center">
                                                <img class="timing-img" src="~/images/Already-volunteered.png" alt="" />
                                                <div>
                                                    <strong><p class="mb-0 card-timing-big">@item.SeatsFilled</p></strong>
                                                    <p class="card-text">Already Volunteered</p>
                                                </div>
                                            </div>
                                        }
                                    }
                                        
                                    
                                    
                                    @if(item.MissionType == "Go")
                                    {
                                        @if(item.GoalObjectiveText != null)
                                        {
                                            <div class="d-flex align-items-center justify-content-center">
                                                <img class="timing-img" src="~/images/achieved.png" alt="" />
                                                <div>
                                                    <div class="progress" style="height: 10px;">
                                                        <div class="progress-bar" role="progressbar" style="width: @item.prArchivement%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    <p class="card-text">@item.GoalArchived achived</p>
                                                </div>
                                            </div>
                                        }
                                            
                                    }
                                    else
                                    {
                                        @if (@item.StartDate is not null)
                                        {
                                            <div class="d-flex align-items-center justify-content-center">
                                                <img class="timing-img" src="~/images/deadline.png" alt="" />
                                                <div>

                                                    <strong><p class="mb-0 card-timing-big">@item.StartDate.ToString().Substring(0,10)</p></strong>
                                                    <p class="card-text">Deadline</p>


                                                </div>
                                            </div>
                                        }else{
                                            <div class="d-flex align-items-center justify-content-center">
                                                <img class="timing-img" src="~/images/deadline.png" alt="" />
                                                <div>

                                                    <strong><p class="mb-0 card-timing-big">No Deadlines</p></strong>
                                                    <p class="card-text">Deadline</p>


                                                </div>
                                            </div>
                                        }
                                    }
                                        
                                    
                                </div>
                            </div>
                            }
                            
                            <div class="py-3 d-flex justify-content-center Apply-mission-btn-div">
                                @*<input type="hidden" value="@item.MissionId" asp-for ="">*@
                                <a type="submit" class="Apply-mission-btn py-2 text-decoration-none" asp-controller="Home" asp-action="VolunteeringMission" asp-route-mid="@item.MissionId">Apply<img src="~/images/right-arrow.png" /></a>
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        }
        
    </div>

</div>
<script>
    $('#heartDef').click(function(){
        console.log("fav"); 
    });
</script>