

<div class="row">
        @foreach(var story in @Model.StoryCards)
        {
        string  text = @story.Description;
        
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card">

                <div class="story-img-div ">
                    <img class="card-img-top" src="@story.StoryMediaPath" alt="Card image cap">
                    <div class="d-flex justify-content-center align-items-center">
                        <p class="card-theme px-3 pt-1">@story.MissionTheme</p>
                    </div>

                    <div class="card-img-bg"></div>

                    <div class="position-absolute text-center viewStoryDetails w-100">
                            <a type="button" class="transperentBtn text-center px-3 text-decoration-none py-2" id="" asp-controller="Home" asp-action="StoryDetails" asp-route-sid = "@story.StoryId">View Details <img src="~/images/right-arrow.png" /></a>
                    </div>

                </div>


                

                <div class="card-body mt-4 px-3">
                    <h5 class="card-title">@story.Title</h5>
                    <div class="card-text storyCardText text-muted">@Html.Raw(text)</div>
                    <div class="d-flex  align-items-center  pb-3">
                        <img src="@story.UserProfile" class="profile-image me-2" alt="">
                        <span class="text-muted">@story.FirstName @story.LastName</span>
                    </div>
                </div>
            </div>
        </div>
        }
        @*Card 1*@
        @*<div class="col-12 col-md-6 col-lg-4">
            <div class="card">

                <div class="story-img-div ">
                    <img class="card-img-top" src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="Card image cap">
                    <div class="d-flex justify-content-center align-items-center">
                        <p class="card-theme px-3 pt-1">Customer Experience</p>
                    </div>

                    <div class="card-img-bg"></div>

                    <div class="position-absolute text-center viewStoryDetails w-100">
                            <button type="button" class="transperentBtn text-center px-3" id="">View Details <img src="~/images/right-arrow.png" /></button>
                    </div>

                </div>




                <div class="card-body mt-4 px-3">
                    <h5 class="card-title">10 users and customer Engagement Strategies for 2019</h5>
                    <p class="card-text text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                    <div class="d-flex  align-items-center  pb-3">
                        <img src="~/images/user-img.png" class="profile-image me-2" alt="">
                        <span class="text-muted">Andrew Johnson</span>
                    </div>
                </div>
            </div>
        </div>*@
        
        

    </div>
